<div *ngIf="odemePlani" class="container mt-4">
    <h2 class="text-center mb-4">Ödeme Planı</h2>
  
    <!-- Responsive table with Bootstrap -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-primary">
          <tr>
            <th class="text-center" scope="col">Taksit No</th>
            <th class="text-center" scope="col">Taksit</th>
            <th class="text-center" scope="col">Anapara</th>
            <th class="text-center" scope="col">Faiz</th>
            <th class="text-center" scope="col">Kalan Tutar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let satir of odemePlani.satirlar">
            <td class="text-center">{{ satir.taksitNo }}</td>
            <td class="text-center">{{ satir.taksit | number: '1.2-2' }}</td>
            <td class="text-center">{{ satir.anapara | number: '1.2-2' }}</td>
            <td class="text-center">{{ satir.faiz | number: '1.2-2' }}</td>
            <td class="text-center">{{ satir.kalanTutar | number: '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-4">
      <p >Table ID: {{ odemePlani.id }}</p>
    </div>
  </div>

  <!-- Input field and button for fetching a new table -->
<div class="container mt-4">
  <div class="form-group">
    <label for="tableIdInput">Enter Table ID:</label>
    <input id="tableIdInput" type="number" class="form-control" [(ngModel)]="inputTableId" placeholder="Enter table ID">
  </div>
  <button class="btn btn-primary mt-2" (click)="fetchTableById()">Fetch Table</button>
</div>